html {
    font-family: Enriqueta, serif;
    color: #8B4513;
}

body {
    background-color: #AFEEEE;
}

h1 {
    font-family: Geneva, sans-serif; 
    font-weight: Bolder; 
    font-size: 3rem;
    text-shadow: #FF8C00 2px 2px; 
    color: #8B4513; 
}

h2 {
    font-family: Geneva, sans-serif; 
    font-weight: bold; 
    color: #8B4513; 
}

h4 {
    font-family: Geneva, sans-serif; 
    font-weight: bold; 
    color: #8B4513; 
}

p a {
    background-color: #FFF; 
}

h1 {
    border-top: 5px solid #8B4513;
    border-bottom: 5px solid #8B4513; 
} 

ol {
    border: 3px dotted;
} 

ul { 
    color: #FF8C00
}


    
    
    
