html {
    font-family: Baskerville, serif;
    color: #8B4513;
}

body {
    background-color: #AFEEEE;
}

h1 {
    font-family: Trebuchet MS, sans-serif; 
    font-weight: Bolder; 
    font-size: 3rem;
    text-shadow: #FF8C00 2px 2px; 
    line-height: 3rem; 
}

h2 {
    font-family: Trebuchet MS, sans-serif; 
    font-weight: bolder; 
}

h4 {
    font-family: Trebuchet MS, sans-serif; 
    font-weight: bold; 
    color: #8B4513; 
}

h1 {
    border-top: 5px solid #8B4513;
    border-bottom: 5px solid #8B4513; 
} 

ul { 
    color: #FF8C00;
    list-style-type: square;
    line-height: 1.8rem;
    border: 3px dotted;
}

ol {
    line-height: 1.2rem;
    border: 3px dotted;
} 

p a {
    background-color: #FFF; 
}


